<!-- ethiopis.fans, (c) C272 2021 -->
<html>

<head>
    <title>ethiopis.fans - The Online Drawing Game</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/game.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/game.css">
</head>

<body>
    <!-- "Connecting..." screen. -->
    <div class="gameLayer onTopLayer" id="connectingScreen">
        <div class="centered" style="text-align: center;">
            <h1>Connecting...</h1>
            <p><i>Currently attempting to connect to the ethiopis.fans server.</i></p>
        </div>
    </div>

    <!-- Lobby Screen-->
    <div class="gameLayer" id="lobbyScreen">
        <div class="centerHorizontal">
            <img src="/images/logo.png" style="margin-top: 2em; width: 40%;">
            <p><i>This is a random Minecraft-style quote!</i></p>
            <br>
            <div class="container" style="width: 20em">
                <!-- Name change & character change grid. -->
                <div class="input-group mb-3">
                    <input id="usernameInput" type="text" class="form-control" placeholder="Username">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="changeName()">Change
                            Name</button>
                    </div>
                </div>
            </div>
            <div class="container" style="width: 60%">

                <!-- Title row. -->
                <div class="row">
                    <div class="col align-items-center">
                        <h2>Settings</h2>
                    </div>
                    <div class="col align-items-center">
                        <h2>Players</h2>
                    </div>
                </div>

                <!-- Content row. -->
                <div class="row" style="justify-content: left; text-align: left;">
                    <!-- Settings. -->
                    <div class="col align-items-left">
                        <form>
                            <fieldset id="lobbySettings" disabled="disabled">
                                <div class="mb-3">
                                    <label for="amtRounds" class="form-label">Rounds</label>
                                    <input type="number" class="form-control" id="amtRounds" min="1" max="50">
                                </div>
                                <div class="mb-3">
                                    <label for="drawingTime" class="form-label">Drawing Time</label>
                                    <input type="number" class="form-control" id="drawingTime" min="5" max="600">
                                </div>
                                <div class="mb-3">
                                    <label for="customWords" class="form-label">Custom Words</label>
                                    <textarea class="form-control" id="customWords" rows="3"></textarea>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="customWordsOnly">
                                    <label class="form-check-label" for="customWordsOnly">Use Custom Words Only</label>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="button" onclick="startGame()" class="btn btn-success btn-block">Start
                                        Game</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <!-- Players. -->
                    <div class="col d-flex" id="playerDiv">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Game Screen -->
    <div class="gameLayer" id="mainScreen">
        <div style="margin-left:10%; margin-right:10%; margin-top: 2em;">
            <div class="container">

                 <!-- Logo row. -->
                <div class="row bottom-pad">
                    <div class="col">
                        <img src="/images/logo.png" style="height:50px;">
                    </div>
                </div>

                <!-- Timer & word blanks row. -->
                <div class="row top-pad" style="background-color: whitesmoke;">
                    <div class="col-2">
                        <p>67s, Round 2/4</p>
                    </div>
                    <div class="col-8 align-items-center">
                        <p><b>_ _ _ _ _ _ _ _   _ _ _ _</b></p>
                    </div>
                </div>

                <!-- Players, canvas & chat row. -->
                <div class="row top-pad">
                    <div class="col-2 p-3" style="background-color: whitesmoke;">
                        <!-- player list here -->
                        <!-- implementation: https://getbootstrap.com/docs/4.0/components/list-group/#custom-content -->
                        <ul class="list-group">
                        </ul>
                    </div>
                    <div class="col-7 p-3">
                        <!-- canvas here -->
                        <!-- implementation details at:
                            https://github.com/socketio/socket.io/blob/master/examples/whiteboard/public/main.js
                        -->
                    </div>
                    <div class="col-3 p-3" style="background-color: whitesmoke;">
                        <!-- chat window here -->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Error modal. -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Something's wrong!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="errorContents">
                    If you're seeing this, then something went very wrong.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="openErrorButton" style="display:none;" data-bs-toggle="modal" data-bs-target="#errorModal"></button>

    <!-- Bootstrap includes. -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>