/* Stylesheet for the main ethiopis.fans game page. */
/* ethiopis.fans (c) C272, 2021, All Rights Reserved */

/* A single layer on the game page. */
.gameLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white; /*todo: background image*/
}

/* Moves the attached layer to the top of the group. */
.onTopLayer {
    z-index: 10;
}

/* Centers a div both horizontally and vertically. */
.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Centers a div and its contents horizontally. */
.centerHorizontal {
    justify-content: center; 
    text-align: center;
}

/* A single player portait on the lobby menu. */
.playerPortrait {
    justify-content: center; 
    text-align: center; 
    padding-right: 30px;
}

/* Pad/margin rules for the main game board. */
.bottom-pad { margin-bottom: 0.5em; }
.top-pad { margin-top: 0.5em; }

/* The main game window and draw canvas. */
.mainGameWindow {
    margin-left:5%; 
    margin-right:5%;
    margin-top: 2em;
    width: 90vw;
}
.drawCanvas {
    width: 100%;
    height: 0;
    padding-top: 75%;
    background-color: whitesmoke;
}

/* The hangman letters. */
.hangman {
    margin-bottom: 5px; 
    font-size: xx-large;
    letter-spacing: 7px;
}

/* Styling to make the chat window the correct height. */
.chatWindow {
    height: calc(100% - 34px);
    overflow-y: auto;
}

/* Styling for the player list in the main game. */
#playerList .player {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#playerList .player:nth-child(odd) {
    background: #eee;
}